#topbar{
	display: none;
}
.navbar{
	display: none;
}
#topbar .user-links{
	margin-bottom: 0;
}
.search-box{
	display: none;
}
.section-viewtopic #page-body > h1{
	background-color: #444;
	min-height: 65px;
	color: #fff;
	line-height: 65px;
	padding-left: 30px;
	font-size: 14pt;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    margin-top: 0;
}

#nav{
	height: 65px;
	background-color: #C7012E;
}
#nav img{
	height: 55px;
	margin-top: 5px;
}
#nav ul{
	float: right;
}
#nav ul li{
	line-height: 65px;
	padding: 0 35px;
	border-left: 1px solid #fff;
	color: #fff;
	list-style: none;
	float: left;
	font-weight: 700;
	font-size: 1rem;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
#nav ul .last-nav{
	border-right: 1px solid #fff;
}
#nav .active-nav{
	background-color: #fff;
	color: #C7012E;
}
#nav ul li:hover{
	background-color: #444;
	color: #fff;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em){
	#nav{
		height: 65px;
		background-color: #C7012E;
	}
	#nav img{
		height: 55px;
		margin-top: 5px;
	}
	#nav ul{
		float: right;
	}
	#nav ul li{
		line-height: 65px;
		padding: 0 30px;
		border-left: 1px solid #fff;
		color: #fff;
		list-style: none;
		float: left;
		font-weight: 700;
		font-size: .9rem;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	#nav ul .last-nav{
		border-right: 1px solid #fff;
	}
	#nav .active-nav{
		background-color: #fff;
		color: #C7012E;
	}
	#nav ul li:hover{
		background-color: #444;
		color: #fff;
	}
}

@media only screen and (max-width: 40em)  {
	#nav{
		height: 55px;
		background-color: #C7012E;
	}
	#nav img{
		width: 110px;
		display: block;
		margin: 0px auto;
	}
	#nav ul{
		float: right;
	}
	#nav ul li{
		line-height: 65px;
		padding: 0 35px;
		border-left: 1px solid #fff;
		color: #fff;
		list-style: none;
		float: left;
		font-weight: 700;
		font-size: 1rem;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	#nav ul .last-nav{
		border-right: 1px solid #fff;
	}
	#nav .active-nav{
		background-color: #fff;
		color: #C7012E;
	}
	#nav ul li:hover{
		background-color: #444;
		color: #fff;
	}
}

