<!-- INCLUDE overall_header.html -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist">
	<!-- IF S_DISPLAY_SEARCH -->
		<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><!-- IF S_LOAD_UNREADS --> &bull; <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --> &bull; <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> &bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a class="mark-as-read" href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->

<div id="page-body-inner">


<!-- INCLUDE forumlist_body.html -->


<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><div class="block-header"><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></div><!-- ELSE --><div class="block-header">{L_WHO_IS_ONLINE}</div><!-- ENDIF -->
	<div class="block-body">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<div class="block-header">{L_BIRTHDAYS}</div>
	<div class="block-body"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></div>
<!-- ENDIF -->

<!-- IF NEWEST_USER -->
	<div class="block-header">{L_STATISTICS}</div>
	<div class="block-body">
		{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}<br /><br />
		<!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->&bull; {CURRENT_TIME}<!-- ENDIF --> 
<!-- IF U_MCP --> &bull; {CURRENT_TIME} <br /><!-- ELSEIF S_USER_LOGGED_IN -->{CURRENT_TIME}<!-- ENDIF -->
	</div>
<!-- ENDIF -->


</div>

<!-- Sidebar goes below -->

<!-- INCLUDE overall_footer.html -->