<div id="prefooter">

	<!-- Prefooter block beginning -->
	<div class="prefooter-block width-33">

		<h2>BLOCK_HEADER</h2>
		<p>BLOCK_CONTENT</p> 
		
	</div>
	<!-- Prefooter block end -->

	<!-- Prefooter block beginning -->
	<div class="prefooter-block width-33">

		<h2>BLOCK_HEADER</h2>
		<p>BLOCK_CONTENT</p> 
		
	</div>
	<!-- Prefooter block end -->

	<!-- Prefooter block beginning -->
	<div class="prefooter-block width-33">

		<h2>BLOCK_HEADER</h2>
		<p>BLOCK_CONTENT</p> 
		
	</div>
	<!-- Prefooter block end -->
	
</div>